/* Importar tipografias */

@font-face {font-family:"Anaktoria"; src:url("../fuente/Anaktoria.eot") format("eot"),url("../fuente/Anaktoria.woff") format("woff"),url("../fuente/Anaktoria.ttf") format("truetype"),url("Anaktoria.svg#Anaktoria") format("svg");font-weight:normal;font-style:normal;}

/* Reset General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: black;
    line-height: 1.2;
    font-family: Anaktoria;
}

/* Inicio */

#inicio{
    background-image: url("../img/FONDO\ DE\ INICIO.jpg");
    background-color:  #d3cfc5cb; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.inicio-header{
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
}

.reproduccion {
    position: absolute;
    top: 1.5rem; 
    right: 1.1rem; 
    background-color:  #DED9D6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reproduccion:hover {
    background-color: #cdb8a6ea; 
}

#reproductor {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#reproductor i {
    font-size: 24px;
    line-height: 1;
}

.imagen-medio{
    width: 250px;
    height: auto;
    margin: 25px;
}

.inicio-se-casan{
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
}

/* Cuando y donde */

#cuando-donde{
    background-image: url("../img/FONDO\ CUANDO\ Y\ DONDE.jpg");
    background-color:  #d3cfc5cb; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.titulo-cuando-donde{
    width: auto;
    height: 40px;
    margin-top: 20px;
}

.div-conteo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 1px solid #9B856F;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.div-conteo-adentro{
    margin: 10px;
}

.span-conteo {
    margin: 0 5px;
}

.container-fecha-hora {
    display: flex;
    align-items: center; 
}

.img-fecha-hora{
    margin-top: 20px;
    padding: 10px;
    width: 90px;
    height: auto;
}

.logo-leche-y-miel{
    margin: 20px;
    width: 175px;
    height: auto;
}

.lugar{
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
}

.div-container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-mapa {
    padding: 12px 22px; 
    margin: 10px;
    background-color: transparent; 
    color: #000000; 
    border: none; 
    border-radius: 10px; 
    border: 1px solid #9B856F;
    cursor: pointer; 
    font-size: 18px; 
    text-decoration: none; 
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.button-mapa:hover {
    background-color: #9B856F;
    color: #fff;
}

.parrafo-cuando-donde{
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.img-att{
    width: auto;
    height: 60px;
    margin-top: -10px;
}

/* Regalos */

#dress-code{
    background-image: url("../img/FONDO\ DRESS\ CODE.jpg");
    background-color: #d3cfc5cb; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.titulo-dress-code{
    margin-top: 30px;
    height: 80px;
    width: auto;
}

.colores-codigo-de-vestimenta{
    height: 50px;
    width: auto;
    margin: 20px;
}

.titulo-regalos{
    font-size: 20px;
    margin-top: 5px;
}

.parrafo-regalos{
    font-size: 18px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    text-align: center;
}

.linea-gradiente {
    width: 80%;
    height: 1px; 
    background-image: linear-gradient(to right, #9B856F, white, #B2A493);
}

.titulo-mesa-de-regalos{
    margin-top: 20px;
    height: 80px;
    width: auto;
}

.iconos-regalos{
    height: 80px;
    width: auto;
}

/* Codigo de vestimenta */

#confirmacion{
    background-image: url("../img/FONDO\ DE\ CONFIRMACIÓN.jpg");
    background-color: #e8e8e6de; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.div-wifi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 300px;
    height: 150px;
    border: 1px solid #9B856F;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.parrafo-wifi{
    text-align: center;
    padding: 18px;
    font-size: 18px;
}

.titulo-importante{
    margin-top: 30px;
    height: 80px;
    width: auto;
}

.parrafo-importante{
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

.logo-con-opacidad{
    margin-top: -90px;
    height: 400px;
    width: auto;
}

.container-confirmacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
.titulo-confirmacion{
    margin-top: 30px;
    height: 60px;
    width: auto;
}

.boton-ws{
    margin-top: 5px;
    height: 60px;
    width: auto; 
}

.boton-ws:hover{
    transform: scale(1.1); 
}

.span-confirmacion-arriba{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.span-confirmacion-abajo{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px
}