/* Importar tipografias */

@font-face {font-family:"Anaktoria"; src:url("../fuente/Anaktoria.eot") format("eot"),url("../fuente/Anaktoria.woff") format("woff"),url("../fuente/Anaktoria.ttf") format("truetype"),url("Anaktoria.svg#Anaktoria") format("svg");font-weight:normal;font-style:normal;}

/* Reset General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
}

body{
    color: black;
    line-height: 1.2;
    font-family: Anaktoria;
}


/* Inicio */

#inicio{
    background-image: url("../img/FONDO\ DE\ INICIO.jpg");
    background-color:  #d3cfc5cb; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.div-imagen-redondeada {
    position: relative;
    width: 100vw; 
    height: 280px; 
    overflow: hidden;
}

.imagen-redondeada {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0 0 50% 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.div-imagen-logo {
    position: absolute;
    top: -2rem;
    left: -2.5rem;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.logo {
    width: 150px; 
    height: auto;
}

.reproduccion {
    position: absolute;
    top: 1rem; /* Ajusta este valor para posicionar en la esquina */
    right: 1rem; /* Ajusta este valor para posicionar en la esquina */
    background-color:  #DED9D6;
    border-radius: 50%;
    padding: 12px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reproduccion:hover {
    background-color: #cdb8a6ea; /* Cambio de color al pasar el ratón */
}

#reproductor {
    color: #000000;
}

#reproductor i {
    font-size: 25px;
}

.escrito-imagen-redondeada{
    position: relative;
    width: 200px;
    bottom: 110px;
    right: 90px;
    height: 200px;
    transform: rotate(-10deg);
}

.imagen-medio{
    width: 250px;
    height: auto;
    margin-top: -10rem;
}

 .container-historia{
    position: relative;
    display: inline-block;
    height: auto;
    margin-top: -10rem; 
 } 

.fondo-nos-casamos{
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
}

.container-nos-casamos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

/* .escrito-imagen-redondeada-abajo{
    position: relative;
    left: 160px;
    top: 120px;
    width: 200px;
    height: 200px;
    transform: rotate(-10deg);
}
 */



.logo-nos-casamos{
    position: absolute;
    top: 160%;
    left: 50%;
    height: 90px;
    width: auto;
    transform: translate(-50%, -50%);
    z-index: 3;
} 

.titulo-nos-casamos{
    position: absolute;
    top: 166%;
    left: 48%;
    height: 100px;
    width: auto;
    transform: translateX(-50%);
    z-index: 3;
}

.parrafo-nos-casamos{
    position: absolute;
    top: 182%;
    left: 5%;
    z-index: 3;
    font-size: 16px;
    text-align: left;
    white-space: pre-line;
    padding: 0px 0px 0px 40px;
}

.firma-nos-casamos{
    position: absolute;
    top: 238%;
    right: -20px;
    width: 150px;
    z-index: 3;
    left: 15%;
    height: auto;
   /*  margin-top: 10px;
    padding-left: 40px;
    margin-bottom: 20px; */
}

/* Cuando y donde */

#cuandoYDonde{
    background-image: url("../img/FONDO\ CUANDO\ Y\ DONDE.jpg");
    background-color:  #d3cfc5cb; /* Fondo blanco con opacidad */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten; /* Ajusta el modo de mezcla según tus preferencias */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.titulo-cuando-donde{
    width: auto;
    height: 40px;
    margin-top: 20px;
}

.div-conteo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 1px solid #9B856F;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
}

.div-conteo-adentro{
    margin: 10px;
    padding: 80px;
}

.span-conteo {
    margin: 0 5px;
}

.container-fecha-hora {
    display: flex;
    align-items: center; 
}

.img-fecha-hora{
    margin-top: 20px;
    padding: 10px;
    width: 90px;
    height: auto;
}

.logo-villa-le-brioche{
    margin: 20px;
    width: 220px;
    height: auto;
}

.lugar{
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
}

.div-container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-mapa {
    padding: 12px 22px; 
    margin: 10px;
    background-color: transparent; 
    color: #000000; 
    border: none; 
    border-radius: 10px; 
    border: 1px solid #9B856F;
    cursor: pointer; 
    font-size: 18px; 
    text-decoration: none; 
    text-transform: uppercase;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
}

.button-mapa:hover {
    background-color: #9B856F;
    color: #fff;
}

.parrafo-cuando-donde{
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.img-att{
    width: auto;
    height: 60px;
    margin-top: -10px;
}

/* Regalos */

#regalos{
    background-image: url("../img/FONDO\ DRESS\ CODE.jpg");
    background-color: #d3cfc5cb; /* Fondo blanco con opacidad */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten; /* Ajusta el modo de mezcla según tus preferencias */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.titulo-dress-code{
    margin-top: 30px;
    height: 80px;
    width: auto;
}

.colores-codigo-de-vestimenta{
    height: 50px;
    width: auto;
    margin: 20px;
}

.titulo-regalos{
    font-size: 20px;
    margin-top: 5px;
}

.parrafo-regalos{
    font-size: 18px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    text-align: center;
}

.linea-gradiente {
    width: 80%;
    height: 1px; /* Ajusta el grosor de la línea según tus preferencias */
    background-image: linear-gradient(to right, #9B856F, white, #B2A493);
}

.titulo-mesa-de-regalos{
    margin-top: 20px;
    height: 80px;
    width: auto;
}

.iconos-regalos{
    height: 80px;
    width: auto;
}



/* Codigo de vestimenta */

#codigoDeVestimenta{
    background-image: url("../img/FONDO\ DE\ CONFIRMACIÓN.jpg");
    background-color: #e8e8e6de; /* Fondo blanco con opacidad */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten; /* Ajusta el modo de mezcla según tus preferencias */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.div-wifi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 300px;
    height: 150px;
    border: 1px solid #9B856F;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.parrafo-wifi{
    text-align: center;
    padding: 18px;
    font-size: 18px;
}

.titulo-importante{
    margin-top: 30px;
    height: 80px;
    width: auto;
}

.parrafo-importante{
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

.logo-con-opacidad{
    margin-top: -80px;
    height: 400px;
    width: auto;
}

.container-confirmacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
.titulo-confirmacion{
    margin-top: 30px;
    height: 60px;
    width: auto;
}

.boton-ws{
    margin-top: 5px;
    height: 60px;
    width: auto; 
}

.boton-ws:hover{
    transform: scale(1.1); 
}

.span-confirmacion-arriba{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}
.span-confirmacion-abajo{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 30px
}